{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>MORROCAN RAP CREW</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
			<div class="main">
				<div class="logo">
					<img src="{% static "Logo3.png" %}">
				</div>
			<ul1>
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Rappeurs</a></li>
				<li><a href="#">Actualités</a></li>
				<li><a href="#">Contact</a></li>

			</ul1>
		</div>
		<div class="diapo">
				
		</div>
		<div class="title">
			<h1>MORROCAN RAP CREW</h1>
			
		</div>
	</header>
</body>
</html>