*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
header{
	height: auto;
	background-size: cover;
	background-position: center;
}
ul1{

	float:left;
	list-style-type: none;
	margin-top: 35px;
}
ul1 li{
	display: inline-block;
}
ul1 li a{
	text-decoration: none;
	color: #000;
	padding: 5px 50px;
	border: 1px solid transparent;
	transition: 0.8s ease;
}
ul1 li a:hover{
	background-color: #000;
	color: #fff;
}
ul1 li.active a{
	background-color: #000;
	color: #fff;
}


.logo img{
	float: left;
	width: 100px;
	height: auto;
}
.main{
	max-width: :1200px;
}
.diapo{
	margin: 0 auto;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../toto1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

	webkit-animation-name: diapor;
	webkit-animation-duration:25s;
	webkit-animation-timing-function:linear;
	webkit-animation-iteration-count:infinite;
	webkit-animation-direction:normal;

	moz-animation-name: diapor ;
	moz-animation-duration:25s;
	moz-animation-timing-function:linear;
	moz-animation-iteration-count:infinite;
	moz-animation-direction:normal;

	animation-name: diapor;
	animation-duration:25s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

@-webkit-keyframes diapor{
	0%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../toto1.jpg);}
	20%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../moro.jpg);}
	40%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../dros.jpg);}
	60%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../khtek.jpg);}
	80%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../bigg2.jpg);}

}
@-moz-keyframes diapor{
	0%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../toto1.jpg);}
	20%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../moro.jpg);}
	40%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../dros.jpg);}
	60%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../khtek.jpg);}
	80%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../bigg2.jpg);}

}
@keyframes diapor{
	0%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../toto1.jpg);}
	20%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../moro.jpg);}
	40%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../dros.jpg);}
	60%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../khtek.jpg);}
	80%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../bigg2.jpg);}

}
.title{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
}